.FootnoteNode__container {
  cursor: pointer;
  position: relative;
}

.FootnoteNode__superscript {
  font-size: 0.8em;
  line-height: 1;
  padding: 0 2px 2px 0;
}

.FootnoteNode__popover {
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  min-width: 14rem;
  max-width: 20rem;
  max-height: 20rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 8px 8px 8px;
  background: white;
}

.FootnoteNode__value {
  width: 100%;
  font-size: 14px;
  overflow-y: auto;
  margin: 4px 0;
}

.FootnoteNode__edit-button {
  align-self: flex-end;
}
