/* NOTE: This file enables bundling of all CSS files needed `<ExtendableEditor />` */

@import '../index.css';
@import '../themes/CommentEditorTheme.css';
@import '../themes/PlaygroundEditorTheme.css';
@import '../themes/StickyEditorTheme.css';
@import '../nodes/FootnoteNode.css';
@import '../nodes/ImageNode.css';
@import '../nodes/PageBreakNode/index.css';
@import '../ui/Button.css';
@import '../ui/ContentEditable.css';
@import '../ui/ColorPicker.css';
@import '../ui/Dialog.css';
@import '../ui/EquationEditor.css';
@import '../ui/FlashMessage.css';
@import '../ui/Input.css';
@import '../ui/KatexEquationAlterer.css';
@import '../ui/Modal.css';
@import '../ui/Select.css';
@import '../plugins/CodeActionMenuPlugin/index.css';
@import '../plugins/CodeActionMenuPlugin/components/PrettierButton/index.css';
@import '../plugins/CommentPlugin/index.css';
@import '../plugins/DraggableBlockPlugin/index.css';
@import '../plugins/FloatingLinkEditorPlugin/index.css';
@import '../plugins/FloatingTextFormatToolbarPlugin/index.css';
@import '../plugins/FootnotePlugin/index.css';
@import '../plugins/TableCellResizer/index.css';
@import '../plugins/TableOfContentsPlugin/index.css';
@import '../plugins/ToolbarPlugin/fontSize.css';
@import '../plugins/VersionsPlugin/index.css';
